<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Here is a title</title>
</head>
<body>
<h1 class="heading-2">SmartLock</h1>
<div class="w-form">
    <form id="registration-form" name="registration-form" method="POST" data-name="Email Form">
        <label for="name">Name</label><br>
        <input type="text" class="w-input" maxlength="256" name="name" data-name="Name" id="name" required=""/><br>
        <label for="email">Email</label><br>
        <input type="email" class="w-input" maxlength="256" name="email" data-name="Email" id="email" required=""/><br>
        <label for="password">Password</label><br>
        <input type="password" class="w-input" maxlength="256" name="password" data-name="Password" id="password" required=""/><br>
        <input type="submit" value="Submit" data-wait="Please wait..." class="w-button"/>
    </form>
</div>
</body>
</html>